.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.87);
  margin: 15px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-column-select {
  overflow: visible;
}