<div class="example-form">

	<form [formGroup]="userForm" (ngSubmit)="onFormSubmit(formDirective)"  #formDirective="ngForm" >
		<div class="row">
			<mat-form-field>
		    <mat-label>First name</mat-label>
		    <input matInput placeholder="Enter first name" formControlName="firstname" required 
		    	[pattern]="usernameRegx">
		    <mat-error *ngIf="userForm.controls.firstname.invalid && userForm.controls.firstname.hasError('pattern')">Only Alpha numeric without space</mat-error>
	  	</mat-form-field>

	  	<mat-form-field class="second-col">
		    <mat-label>Last name</mat-label>
		    <input matInput placeholder="Enter first name" formControlName="lastname" required 
		    	[pattern]="usernameRegx">
		    <mat-error *ngIf="userForm.controls.lastname.invalid && userForm.controls.lastname.hasError('pattern')">Only Alpha numeric without space</mat-error>
	  	</mat-form-field>
		</div>

  	<mat-form-field class="full-width">
	    <mat-label>Enter your email</mat-label>
	    <input matInput placeholder="pat@example.com" formControlName="email" required>
	    <mat-error *ngIf="userForm.controls.email.invalid">{{getEmailErrorMessage()}}</mat-error>
	  </mat-form-field>
  	
  	<mat-form-field class="full-width">
		  <mat-label>Gender</mat-label>
		  <mat-select formControlName="gender" required>
		    <mat-option value="male">Male</mat-option>
		    <mat-option value="female">Female</mat-option>
		    <mat-option value="other">Other</mat-option>
		  </mat-select>
		</mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>DOB</mat-label>
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="dob" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

		<mat-form-field class="full-width">
	    <mat-label>Password</mat-label>
	    <input type="text" matInput placeholder="Enter Password" formControlName="password" [pattern]="passwordRegx" (input)="onPasswordInput()" required>
	    <mat-error *ngIf="userForm.controls.password.invalid && userForm.controls.password.hasError('pattern')">(Min 8 Char, 1 upper case letter, 1 lower case letter, 1 numeric, 1 special character)</mat-error>
  	</mat-form-field>

  	<mat-form-field class="full-width">
	    <mat-label>Confirm Password</mat-label>
	    <input type="text" matInput placeholder="Enter confirm Password" formControlName="confirm_password" (input)="onPasswordInput()" required>
	    <!-- userForm.controls.confirm_password.invalid -->
	    <mat-error *ngIf="userForm.controls.confirm_password.invalid || userForm.controls.password.hasError('required')">Password doesn't match</mat-error>
  	</mat-form-field>

	  <div class="example-button-row">
	    <button mat-raised-button color="primary">Submit</button>
	  </div>
	</form>

  <!-- <mat-form-field class="full-width">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field> -->

  <!-- <mat-form-field class="full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>	 -->

  <!-- <div *ngFor="let u of userList$ | async">{{u.firstname}}</div>
  <div>{{userList$ | async | json}}</div> -->
</div>
  
<app-user-table [userFormValues]="userFormValues"></app-user-table>
